/* Default */
.system__intro {
    text-align: center;
    margin-bottom: 2.5em;
}

.system_intro-title {
    font-size: var(--size-2xl);
    color: var(--clr-light);
}

.system_intro-desc {
    font-size: var(--size-sm);
    color: var(--clr-yellow);
}

.system {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.system div:nth-child(even) {
    margin-bottom: 1rem;
}

.system__content { 
    /* Maybe use subgrid/grid */
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5em;

}

.system__title {
    font-size: var(--size-lg);
    color: var(--clr-light);
}

.system__description {
    font-size: var(--size-sm);
    color: var(--clr-yellow);
    max-width: 60ch;
}

.system__content-list {
    color: var(--clr-yellow);
    text-align: left;
    font-size: var(--size-sm);
}

.system__img {
    width: 100%;
    height: auto;
    border-radius: 0.3em;
}

/* Mobile first style is the standard (using min-width) */
/* If Desktop first style then (max-width) */

/* xs */ 
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
    .system {
        display: grid;
        grid-template-columns: 1fr, 1fr;
        grid-template-areas: 
        'system__img1 system__content1'
        'system__content2 system__img2'
        'system__img3 system__content3'
        'system__content4 system__img4';

        /* shorthand for justify-item and align item */
        place-items: center;
    }

    /* Grid Images */
    .system__img1 {
        grid-area: system__img1;
    }

    .system__content1 {
        grid-area: system__content1;
    }

    .system__img2 {
        grid-area: system__img2;
    }

    .system__content2 {
        grid-area: system__content2;
    }

    .system__img3 {
        grid-area: system__img3;
    }

    .system__content3 {
        grid-area: system__content3;
    }

    .system__img4 {
        grid-area: system__img4;
    }

    .system__content4 {
        grid-area: system__content4;
    }




    .system_intro-title {
        font-size: var(--size-2xl);
    }
    
    .system_intro-desc {
        font-size: var(--size-sm);
    }

    .system__title {
        font-size: var(--size-lg);
        color: var(--clr-light);
    }


    .system__description {
        font-size: var(--size-sm);
        color: var(--clr-yellow);
        max-width: 40ch;
    }
} 


/* md */
@media (min-width: 768px) {
    .system_intro-title {
        font-size: var(--size-2xl);
    }
    
    .system_intro-desc {
        font-size: var(--size-lg);
    }

    .system__title {
        font-size: var(--size-2xl);
    }

    .system__description {
        font-size: var(--size-sm);
        max-width: 40ch;
    }
}


/* Lg */
/* @media (min-width: 1024px) {} */


/* xL */
@media (min-width: 1280px) {
    .system_intro-title {
        font-size: var(--size-3xl);
    }

    .system__content {
        gap: 1.5em;
    }

    .system__description {
        font-size: var(--size-md);
        max-width: 40ch;
    }
    
    .system__content-list {
        font-size: var(--size-md);
    }
} 


/* 2xL */
 /* @media (min-width: 1536px) { } */