/* Screen smaller than 475px (default) */

.header {
    display: flex;  
    justify-content: flex-start;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    z-index: 9999;
}

.logo {
    display: block;
    width: var(--size-10xl);
    height: var(--size-10xl);

    transition: transform 0.3s;
}

.logo:hover {
    transform: scale(1.1);
}


.nav__menu {
    display: none;
}



/* Mobile first style is the standard (using min-width) */
/* If Desktop first style then (max-width) */

/* xs */ 
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */


/* md */
 @media (min-width: 768px) {
    .nav__menu {
        display: flex;
        list-style-type: none;
        padding: 0;
        gap: 1.5em;
        align-items: center;
    }

    .nav__link {
        font-size: var(--size-xs);
        color: var(--clr-light);
        text-decoration: none;
        letter-spacing: -0.01em;
        font-weight: 600;

        transition: color 0.3 ease;
    }

    .nav__link:hover {
        color: var(--clr-yellow);
    }

    .nav__line {
        border: 1px solid var(--clr-light);
        padding-top: 1.5em;
    }

    .nav__sun {
        display: block;
        color: var(--clr-light);
        width: var(--size-base);
        height: var(--size-base);
    }
 } 


/* Lg */
@media (min-width: 1024px) {
    .nav__link {
        font-size: var(--size-sm);
    }

    .nav__sun {
        width: var(--size-xl);
        height: var(--size-xl);
    }
}  

/* xL */
/* @media (min-width: 1280px) {}  */


/* 2xL */
 /* @media (min-width: 1536px) { } */
