/* Mobile first style is the standard (using min-width) */
/* If Desktop first style then (max-width) */


/* Introduction part */
.introduction {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2.5em;
}

.stargazers-logo {
    width: 40em;
    margin: 0 auto;
    animation-name: Idle;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.introduction__desc {
    font-size: var(--size-base);
    color: var(--clr-yellow);
}


/* Who We Are part */
.who {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2em;
    margin-top: 5em;
}

.who__img {
    width: 35em;
    margin: 0 auto;
    border-radius: 0.5em;
}

.who__desc-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0 auto;
}

.who__title {
    font-size: var(--size-6xl);
    font-weight: 800;
    letter-spacing: -0.02em;
}

.who__desc {
    font-size: var(--size-base);
    color: var(--clr-yellow);
    max-width: 60ch;
    line-height: var(--size-4xl);
}


/* Why choose us part */
.why {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    gap: 1.5em;
}

.why__title {
    font-size: var(--size-6xl);
    font-weight: 800;
    letter-spacing: -0.02em;
    text-align: center;
}

.why__desc {
    font-size: var(--size-base);
    color: var(--clr-peach);
    text-align: center;
}

.why__wrapper {
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
}

.why__box {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1em;
    text-align: center;

    box-shadow: 0 1rem 1.5rem -0.2rem rgba(210, 154, 255, 0.199);
    border-top: 5px solid var(--clr-pink);
    background-color: var(--clr-peach);
    border-radius: 0.2em;
}

.why__reason {
    color: var(--clr-dark);
    font-size: var(--size-base);
    font-weight: 800;
}

.why__explanation {
    font-size: var(--size-sm);
    color: var(--clr-light);
}



/* xs */ 
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */


/* md */
@media (min-width: 768px) {
    .introduction__desc {
        font-size: var(--size-lg);
    }

    /* Who We Are part */
    .who {
        flex-direction: row;
        text-align: left;
        gap: 2em;
    }
    
    .who__desc-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    
    .who__title {
        font-size: var(--size-6xl);
    }
    
    .who__desc {
        font-size: var(--size-base);
        max-width: 55ch;
    }

    /* Why choose us part */
    .why__title {
        font-size: var(--size-6xl);
    }

    .why__desc {
        font-size: var(--size-base);
    }

    .why__reason {
        font-size: var(--size-base);
    }

    .why__explanation {
        font-size: var(--size-sm);
    }
}  


/* Lg */
@media (min-width: 1024px) {
    
    .introduction__desc {
        font-size: var(--size-xl);
    }

    .who {
        gap: 1em;
    }

    /* Who We Are part */
    .who__title {
        font-size: var(--size-7xl);
    }
    
    .who__desc {
        font-size: var(--size-lg);
        max-width: 50ch;
    }

    /* Why choose us part */
    .why__title {
        font-size: var(--size-7xl);
    }

    .why__desc {
        font-size: var(--size-lg);
    }

    .why__reason {
        font-size: var(--size-xl);
    }

    .why__explanation {
        font-size: var(--size-base);
        max-width: 60ch;
    }
}  

/* xL */
@media (min-width: 1280px) {
    .who {
        gap: 1em;
    }
} 


/* 2xL */
 /* @media (min-width: 1536px) { } */


 @keyframes Idle {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-1.5rem);
    }
    100% {
        transform: translateY(0);
    }
 }